.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Registrarse {
  border: 2px solid;
  width: 40%;
  height: 340px;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
}
input {
  margin-bottom: 15px;
}
